@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.navlinks{
  font-size: 16px;
  font-weight: medium;
  color: #000000;
  font-weight:  500 ;
}
.para{
  font-size: 18px;
  font-weight: medium;
  color: #000000;
  line-height: 28px;
}
.adminlinks{
  font-size: 20px;
  font-weight: medium;
  color: #000000;
}
.mainhead{
  font-size: 50px;
  font-weight: bold;
  color: #000000;
}
.subhead{
  font-size: 50px;
  font-weight: bold;
  color: #422e59;
}